<h1>Liste des citations</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Citation</th>
      <th scope="col">Auteur</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% for(var i = 0; i < citations.length; i++) {%>
      <tr>
        <th scope="row"><%= i + 1 %></th>
        <td><%= citations[i].content %></td>
        <td><%= citations[i].author %></td>
        <td>
          <a class="btn btn-primary" href="/api/citations/update/<%= citations[i]._id %>" role="button">Modifier</a>
          <a class="btn btn-danger" href="/api/citations/delete/<%= citations[i]._id %>" role="button">Supprimer</a>
        </td>
      </tr>
      <% } %>
    </tbody>
  </table>