<div class="d-flex justify-content-between align-items-center">
  <h1>Liste des citations</h1>
  <a type="button" class="btn btn-success text-white rounded-circle" href="/citation/create">
    <i class="fa-solid fa-plus"></i>
  </a>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Citation</th>
      <th scope="col">Auteur</th>
      <th scope="col">Tags</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% if (citations.length > 0) { %>
      <% for(var i = 0; i < citations.length; i++) {%>
        <tr>
          <th scope="row"><%= i + 1 %></th>
          <td><%= citations[i].content %></td>
          <td><%= citations[i].author %></td>
          <td><%= citations[i].tags %></td>
          <td>
            <a class="btn btn-primary" href="/citation/update/<%= citations[i]._id %>" role="button"><i class="fa-solid fa-pencil"></i></a>
            <a class="btn btn-danger" href="/api/citation/delete/<%= citations[i]._id %>" role="button"><i class="fa-solid fa-trash"></i></a>
          </td>
        </tr>
      <% } %>
    <%} else { %>
      <tr><td colspan="5" class="text-center">Aucun résultat</td></tr>
    <% } %>
    </tbody>
  </table>